[2021-10-01 17:00] RolfSander opened #1 "pdf of the chemical mechanism"
Automatic generation of a pdf of the chemical mechanism based on the
information in the KPP equation file and references from a BibTeX
file.

[2021-10-01 17:01] RolfSander opened #2 "visualization of the chemical mechanism"
Automatic visualization of the chemical mechanism with graphviz.

[2021-10-01 17:02] RolfSander opened #3 "mass balance checker"
Create a mass balance checker that looks at the chemical reactions in the equation file.

[2021-10-01 17:03] RolfSander opened #4 "include reactions from the MCM"
Create a tool that facilitates the inclusion of a set of reactions from the MCM.

[2021-10-01 17:05] RolfSander opened #5 "Rosenbrock-Krylov solver in f90"
Colleagues from Jülich and I are working on a Fortran90 implementation
of the Rosenbrock-Krylov solver (https://doi.org/10.1137/130923336)
which is currently only available for MATLAB in KPP.

[2021-10-01 17:09] RolfSander opened #6 "dynamic memory allocation"
A lot of values need to be increased in gdata.h and elsewhere (e.g., MAX_EQN) when the chemical mechanism becomes too large. It would be great if KPP would use dynamic memory allocation depending on the size of the chemical mechanism. This is probably a big task, and I don't think I will be able to do it. However, I've created this issue so we can discuss this.

[2021-10-13 14:27] laestrada opened #9 "[FEATURE REQUEST] Add toggle for calling UPDATE_SUN, UPDATE_RCONST within integrator step"
Original issue thread found [here](https://github.com/geoschem/KPP/issues/5). Thread content copied below:
**yantosca commented on Jun 7**
RolfSander wrote:

"Indeed, calling UPDATE_RCONST several times (i.e., once for each KPP substep) is often not necessary. It's good to have the option to switch that off. Maybe this could be implemented via a currently not-used element in the ICNTRL array, e.g.

[2021-10-13 14:32] laestrada opened #10 "[QUESTION] Using Custom KPP Mechanisms in GC 12.9.3"
Original question posed [here](https://github.com/geoschem/KPP/issues/4). Copied below:

**JFBrewer commented on May 18**
Hi folks,

I'm still working in GC 12.9.3 for a little while longer, and I wanted to make a custom mechanism for some comparison work. Unfortunately, as far as I can tell, the CMake setup for KPP in 12.9.3 doesn't appear to be set up to allow for the creation of Custom mechanis

[2021-10-13 14:33] yantosca opened #11 "[FEATURE REQUEST] Save KPP global variables into a derived type object"
This would be for much later down the road.  Right now KPP global variables are referenced by F90 `USE` statements.  But there may be some model implementations (such as in WRF) where several chemistry domains get solved simultaneously.  For such a case like that, it would be preferable to have all KPP-generated module variables stored in a F90 derived type object so that the model could instantia

[2021-10-28 14:23] yantosca opened #15 "[BUG/ISSUE] malloc.h file not found error when building KPP on MacOSX"
I tried building KPP locally on my MacOS laptop (with XQuartz) using gcc 11.2.0 and I get this error:

[code]
I looked online (see https://stackoverflow.com/questions/56463049/should-mac-osx-have-a-malloc-h-file) and it seems that the issue might be that `malloc.h` is now deprecated.  The post suggests to use `stdlib.h` instead.  This might be a quick way to fix it cross-platform.  I am not as fam

[2021-11-01 19:22] yantosca commented on #9
Thinking out loud... wondering if it would be better to use C-preprocessor switches to shunt this behavior as such:

[code]

My thinking is that using Fortran IF statements would incur some extra CPU overhead every time the integrator is called.  For models like GEOS-Chem, the integrator is called for each grid box in the chemistry domain multiplied by the number of internal KPP timesteps, so the

[2021-11-01 19:24] jimmielin commented on #9
Hi Bob, I agree preprocessor statements may be more performance efficient. Eliminating code at the compiler level is going to be faster than IF-branching at runtime for sure, if there is read code that GEOS-Chem or another model will certainly never use.

[2021-11-01 19:47] msl3v commented on #9
Agree with the performance efficiency perspective. It would be extremely useful, though, if we could update 'some' rates, and just not all of them. This would permit concentration-based rate calculations essential for several parameterized rate forms.

[2021-11-02 08:25] RolfSander commented on #9
Yes, it will be faster with C-preprocessor switches, but I wonder if it
really matters. Maybe run some benchmark tests first, with and without
the Fortran IF, and check if the gain in performance is significant.

Also, if we use C-preprocessor directives, we lose the option to control
this at run time. For example, one may want to activate Update_RCONST()
only during sunrise and sunset, when the c

[2021-11-09 16:37] jimmielin opened #18 "[BUG/ISSUE] bin folder for compilation?"
Hi all,

Sorry if I am missing something obvious - when building the KPP code based on the instructions on readthedocs (https://kpp.readthedocs.io/en/latest/usage-details/installation.html), the final command in `src/Makefile` tries to put the `kpp` executable into `./bin/kpp`:

[code]

but `bin` folder isn't present in the repository by default. As a result `mv kpp ../bin` will instead rename the

[2021-11-10 15:06] laestrada commented on #18
Hi @jimmielin,

I believe that this issue has already been addressed in the [dev](https://github.com/KineticPreProcessor/KPP/blob/4805c2bbf88b1456043351ed5223c0a24eb8f105/src/Makefile#L61) and main branches by adding  a `mkdir -p` command to ensure that the bin folder is present. Does this work for you?

[2021-11-10 15:45] #18 closed

[2021-11-10 15:47] laestrada commented on #18
Great, Thanks for closing the issue!

[2021-11-11 13:51] msl3v commented on #9
The IF toggle makes the most sense. The condition of sunrise & sunset is a good example. I'll do a performance test of this with an IF statement in a small boxmodel under development. I agree it will likely be a small impact.

[2021-11-11 14:14] msl3v commented on #9
P.S. if controlling through ICNTRL(), what abpout the following?
ICNTRL(X) = 1 ! Update_RCONST()
ICNTRL(X) = 2 ! Update_PHOTO()
ICNTRL(X) = 3 ! Update both

[2021-11-11 15:34] RolfSander commented on #9
Thanks, Mike, for performing the tests!

I like ICNTRL(X) = 1 for RCONST and 2 for PHOTO. I don't think "3 for
both" is necessary because the subroutine Update_RCONST already includes
Update_PHOTO.

Before choosing the array index X for ICNTRL(X), let's check that it is
not used by any of the integrators.

BTW: There is also a subroutine called Update_SUN. I think it exists
only for testing purpos

[2022-03-15 18:29] yantosca opened #19 "Cleanup of unused features"
@RolfSander has opened the **cleanup** branch, which removes several unused/obsolete files.  We will test to make sure that none of the existing functionality is clobbered.

[2022-03-15 19:20] RolfSander commented on #19
Thanks! I hope all the ci-tests are still working. The only change I made is that small_f90 now uses `int/kpp_lsode.*` instead of `int.modified_WCOPY/kpp_lsode.*`.

[2022-03-18 14:08] yantosca commented on #19
I just verified that all the CI-tests work properly in the cleanup branch.  See:
[ci-tests-log.txt](https://github.com/KineticPreProcessor/KPP/files/8305057/ci-tests-log.txt)

[2022-03-18 17:19] RolfSander commented on #19
I'm not sure if my comment in the pull request was visible, since it is closed now. So I'm repeating it here:

I have a couple of other cleanup-items which I want to do next. I'll
create a new "cleanup2" branch for that. One thing I noticed is that we
have a .gitignore file in almost every directory. That's not necessary
because a .gitignore file in the root directory affects all
subdirectories au

[2022-04-06 09:16] RolfSander commented on #19
already merged into dev

[2022-04-06 09:16] #19 closed

[2022-04-06 16:23] RolfSander opened #22 "patch_memory"
Hello all,

In order to facilitate the merge of the GEOS-Chem-KPP with the
MECCA-KPP, I've started to harmonize the memory sizes in several src/*
files in the new branch patch_memory. As you can see in the code, KPP is
now able to handle much larger chemical mechanisms. The CI tests have
passed:

https://dev.azure.com/KineticPreProcessor/KPP/_build

However, I did have to apply a small trick to ac

[2022-04-14 12:43] RolfSander commented on #22
There have been no complaints yet, so I'm
  starting the merge request now...

[2022-04-14 14:30] yantosca commented on #15
We can now close this issue as it has been fixed by PR #17.

[2022-04-14 14:30] #15 closed

[2022-04-14 14:33] yantosca commented on #9
We can go with this.  I can now start working on this.

I think we said ICNTRL(15) is OK, but I will confirm.

I'm not sure if any of the CI tests use it.  I'll double check that too.

[2022-04-14 14:41] yantosca commented on #9
Grepping for ICNTRL in the int folder, we get

[2022-04-14 15:18] yantosca commented on #9
@RolfSander @msl3v: question: most of the integrators have calls to `Update_RCONST` and `Update_PHOTO` in both the KPP `FUN_CHEM` and `JAC_CHEM` routines.  I'm assuming that we will want to also test for `ICNTRL(15)` in `JAC_CHEM` as well, correct?

[code]

[2022-04-14 15:29] RolfSander commented on #9
I'm not familiar with JAC_CHEM (the Rosenbrock solvers don't have it).
As long as the default setting for ICNTRL(15) leaves the `Update_*` calls
unchanged, anything is fine with me.

[2022-04-14 21:48] msl3v commented on #9
@yantosca, I also don't recognize JAC_CHEM(). Can you say where this is?

[2022-04-14 22:10] yantosca commented on #9
@msl3v: I think it is in kpp_dvode.f90.  But now that I look at it again, it has calls to Update_SUN and Update_RCONST commented out internally, so maybe we don't need to worry about it.

Also, I've been doing:
[code]
The Update_SUN() function is needed for the C-I tests to run, as it is called from the `drv/general*.f90` driver routines.

[2022-04-15 08:55] RolfSander commented on #9
Sounds good. And with `ICNTRL(15) = 0`, the same `UPDATE_*` subroutines are
called as in the current version of our integrators, whatever that may be. Right?

[2022-04-15 13:28] yantosca commented on #9
Right now I have `ICNTRL(15) = 0` turning off calls to the `Update_*` routines in the integrators but I of course can change that.  Maybe this should be:
[code]
I think we can do that with a couple of IF statements:
[code]
so Update_RCONST is called for any positive value for `ICNTRL(15)`, and the other update functions are only called for specific values of `ICNTRL(15)`.

I think the IF statement

[2022-04-15 13:31] yantosca commented on #9
Oops that will work for the Update_RCONST but not the others.  Let me think about this a bit.

[2022-04-15 14:19] yantosca commented on #9
I was just looking into this.  The only thing is I don't want to add a lot of IF's into the integrators as that will slow things down.  Let me percolate on this...

[2022-04-15 14:26] RolfSander commented on #9
Indeed, lots of IFs in the main loop should be avoided. Most of the
commands, however, can be put into the initialization.

Then we only have one `IF (L_Update_*)` for each Update_* inside the time
loop.

In addition, accessing a logical for `IF(L_Update_*)` is probably faster
than selecting an element out of an array for `IF(ICNTRL(15))`.

[2022-04-15 14:47] RolfSander commented on #9
I think I was a bit imprecise in my previous post. We do need to
evaluate ICNTRL(15) in every KPP call because the user may want to change
it during the model run (e.g., at sunrise or sunset).

However, during the KPP-calculated substeps, ICNTRL(15) does not change,
and we could use L_UPDATE_*.

[2022-04-15 16:22] RolfSander commented on #9
Looks good!

- If `SUBROUTINE Integrator_Update_Options` is the same for all
  integrators, we may be able to put it into `util/util.f90`.

- Although you don't mention option=6 and option=7 in the comment, they
  are also valid possibilities.

[2022-04-15 16:37] yantosca commented on #9
Nice!  I'll put it into util/util.f90.

Option 6 and 7 are valid possibilities but I don't think any of the integrators have them.

[2022-04-19 13:53] yantosca commented on #22
We can close this out since this branch is now merged into dev.  Thanks @RolfSander!

[2022-04-19 13:53] #22 closed

[2022-04-19 13:54] yantosca commented on #9
Updated comments in commit f34285ad87916c279edccf426358d23dc9f74c91.  Now merged into dev.

[2022-04-19 13:54] #9 closed

[2022-04-20 19:45] yantosca opened #27 "[FEATURE REQUEST] Add toggle to skip using EQUIVALENCE statements"
In `gckpp_Global.F90`, we have these statements
[code]
However, [the Fortran EQUIVALENCE statement is not thread-safe](https://www.nag.com/content/thread-safety-nag-fortran-library), and thus cannot be used for multi-threaded processing (i.e. with OpenMP parallel DO loops).

For GEOS-Chem we have deleted these statements and just use COPY statements before the solver
[code]
and after the solver
[c

[2022-04-20 21:35] RolfSander commented on #27
Yes, let's get rid of the EQUIVALENCE statements. With the copy
statements, however, twice as much memory is used. Also, we would create
inconsistencies if the C array is used somewhere inside a solver instead
of VAR or FIX. Maybe we can use POINTERs to replace EQUIVALENCE. I
haven't tested it but I think it could work like this:

[code]

[2022-04-21 07:13] RolfSander commented on #27
Here is a small test program that works fine for me:

[code]

[2022-04-25 13:48] yantosca opened #31 "[FEATURE REQUEST] Add optional toggle to check if a mechanism needs a minimum KPP version"
I was thinking it might be a nice feature to have the ability to add an optional KPP toggle such as `#MINIMUM_REQUIRED X.Y.Z` so that KPP will throw an error unless you are using version X.Y.Z or higher.

For example, the CMake build system lets you specify a minimum version such as:
[code]

This might become important for models such as GEOS-Chem where we have many different versions in use.   Fo

[2022-04-25 13:53] yantosca commented on #27
Am wondering if we should put the
[code]
statements in the `_Initialize.F90` file.  We might also want to create a `_Finalize.F90` file with a `Finalize()` routine that nullifies the pointers.   For OpenMP parallelization, the pointers need to be assigned and nullified on the same loop iteration.

[2022-04-25 14:01] RolfSander commented on #31
Good idea! Two comments:

- I'm not sure how long the command names can be. If #MINIMUM_REQUIRED
  is too long, maybe #MINVER would suffice?

- Make sure that the new command is analyzed first. Otherwise, the code
  could crash at an undefined #AUTOREDUCE command even though you have
  specified a minimum version.

[2022-04-25 14:17] RolfSander commented on #27
I agree that _Initialize.f90 is probably the right place. More
precisely, the SUBROUTINE Initialize() inside this file. However, are we
sure that this subroutine is _always_ called first? Is it really
mandatory? I cannot imagine any application that would skip it but I
just want to make sure...

I also agree that the pointers should be nullified eventually. However,
what do you mean by "same loop

[2022-04-25 14:29] yantosca commented on #27
So what I meant is that if you have an OpenMP parallel loop such as:

[code]

Then this would lead to a segmentation fault because the pointer hasn't been nullified before the start of the next iteration.   So what we'd need to do is this:
[code]
So in other words, variables that are private to the loop don't exist outside of the loop, because the  compiler will create as many copies of them on th

[2022-04-25 14:32] yantosca commented on #27
So if we have a place where we assign pointers VAR & FIX (say it's in routine Initialize) then we'd also need a way of nullifying the pointers.  We could do it manually in the KPP driver program but then the user might not be aware that this needs to be done.   Maybe that's the best approach.

Also we would need a way of modifying the DefineVariable routine in code.c so that it could write out F90

[2022-04-25 15:01] RolfSander commented on #27
OK, I think I understand. You want to create and nullify the pointer at
every KPP call. In that case, however, _Initialize.f90 is not the right
place. SUBROUTINE Initialize is only called once at the beginning of the
model run, not at every KPP call. At least this is how we do it in
MECCA. Is GEOS-Chem different?

To create and nullify the pointer at every KPP call, I think we would
have to add th

[2022-04-25 15:35] yantosca commented on #27
That sounds good, to do it in the integrators.

Our Initialize routine for GEOS-Chem looks like this.  Not sure if this is a modification done by @msl3v:
[code]

[2022-04-25 15:50] RolfSander commented on #27
Your SUBROUTINE Initialize looks quite familiar, I don't see any
modifications from @msl3v. Also, it makes sense to me that you call it
for each grid box. However, do you really call it at every time step? I
don't think this is the original intention for this subroutine.

Anyway, yes, let's put the pointer assignments and nullifications at the
start and end, respectively, of SUBROUTINE integrate i

[2022-04-26 00:59] msl3v commented on #27
I don't think I ever touched this.

On 4/25/22 11:50, Rolf Sander wrote:

[2022-04-27 18:20] #27 closed

[2022-04-28 21:30] yantosca commented on #31
#34 has now been merged into the development branch.  We can close this now.

[2022-04-28 21:30] #31 closed

[2022-04-29 09:50] RolfSander commented on #31
Thanks for adding the #MINVERSION feature!
I added two minor commits in dev...

[2022-04-29 14:46] yantosca opened #36 "[FEATURE REQUEST] Cleanup of minor issues before 2.5.0 release"
@RolfSander has identified a few minor cleanup issues that should be tackled before releasing KPP 2.5.0:

  - Agreed.  Will have to look at the warnings to see what modifications to the C code we can make to stop them.  I have already fixed a few warnings by removing unused variables, etc.

We can do this but we need to make sure it doesn't break the C-I tests.  I think the C-I tests assume that y

[2022-04-29 15:00] RolfSander commented on #36
Another Makefile-related idea: KPP can produce Makefile.f90,
Makefile.F90, Makefile.f, Makefile.c and Makefile.m. These are all files
in Makefile syntax even though the suffix suggests otherwise. This is a
bit confusing. What do you think about renaming them to Makefile_f90,
Makefile_F90, Makefile_f, Makefile_c and Makefile_m? This could be done
in code.c.

[2022-04-29 16:33] yantosca commented on #36
MAX_PATHLEN is removed (and folded into MAX_PATH) in 29fcb292ba8c4b98ab97ce622e8683824e1e1bf7

mex.f is removed in 34bfd725d11992863d8b21db3eea7643366c6c8b

C-I tests are now run for all branches in 984c6c4db5d12f185cac46c68414b3fe738d1746

[2022-04-29 18:24] yantosca commented on #36
Makefile update in code.c now in commit 72450e09cf9b2e06097c911c402a2f562e9b51de

[2022-04-29 18:56] yantosca commented on #36
Added fixes to Makefile update in c6885ea7946236f652a17b00400322ca1c6b16ba and c6885ea7946236f652a17b00400322ca1c6b16ba.

[2022-04-29 19:35] RolfSander commented on #36
Just a question: If the Dockerfile has to replace the Intel compiler by gfortran, why isn't gfortran the default in the first place?

[2022-04-29 21:50] yantosca commented on #36
@RolfSander that's a good question.  We can make it be that.

Also -- I've pushed a bunch of fixes to the feature/cleanup branch.  One of the big sources of warnings is when we do a self-referential sprintf (i.e. `sprintf( str, "%s", str ); or something like that.  Have been using strncat to replace as many of those as possible.  Still more to do.

[2022-04-30 08:33] RolfSander commented on #36
Thanks, this removed many of the warnings!

Is there a reason why you are using strncat instead of strcat?

Another question: If you want, I can start to merge the two KPP Makefiles into just one, i.e., into src/Makefile. Or do you prefer to do this yourself?

[2022-04-30 14:32] msl3v opened #37 "Where to add new solvers"
@yantosca @RolfSander @laestrada
I'm going to add a forward Euler solver. Should it go into int/user_contributed/ or just stay in int/? @RolfSander I see your ros2_manual.f90 in int/user_contributed/

[2022-04-30 14:58] RolfSander commented on #37
I'd say we put all integrators which are maintained and supported by us into `int/`. The directory `int/user_contributed/` can be used for all others.

[2022-04-30 19:23] RolfSander commented on #36
Long lists of products are now (hopefully) truncated correctly in
kpp_monitor.f90: 8a941c7eda6ac5e5136fd8b8a3663898d44fc29e

@yantosca: `sprintf(s, "")` in gen.c is not a useless function :-)
However, `s[0] = '\0';` is probably better.

[2022-05-01 09:54] RolfSander commented on #37
We now have 2 Euler integrators. Should we try a consistent naming?
Maybe:

forward_euler.f90 and backward_euler.f90

or:

feuler.f90 and beuler.f90

[2022-05-01 09:54] RolfSander commented on #37
Are you going to add a *.def file as well?

[2022-05-01 12:33] msl3v commented on #37
I only just now saw the beuler.f90 solver (I assumed Beuler was the name :-) ) . Yeah. I'll change the name to feuler.f90
This was just an initial commit. I'll add the def file etc soon.

[2022-05-01 12:39] yantosca commented on #36
@RolfSander: strncat is probably safer than strcat since it only will copy a fixed number of characters.  See: https://stackoverflow.com/questions/6491038/strcat-vs-strncat-when-should-which-function-be-used.  Also please go ahead and merge the 2 makefiles into one.  I didn't get that far.

I also just pushed some more fixes that will remove warnings: 4e9ece7dae79afa669db873de9ebb5ca819d61c2

I'll

[2022-05-01 12:42] yantosca commented on #36
The C-I tests filed with:
[code]

[2022-05-01 14:02] yantosca commented on #36
The stack smashing error may be due to an array going out of bounds.  I will look into it soon.

[2022-05-01 16:39] RolfSander commented on #37
I just noticed that several of the *.def files contain F77 INLINE code
even though there is no corresponding integrator in F77 syntax. I think
this can be deleted in these files:

[code]

[2022-05-01 16:52] RolfSander commented on #36
Thanks for the link! (I don't know what I would do without stackoverflow...)

[2022-05-01 16:53] RolfSander commented on #36
Yes, I'll do that soon. To avoid additional complications, however, I
will wait until the stack smashing error has disappeared.

[2022-05-01 18:08] yantosca commented on #36
I think the issue is the sprintf statement in the code that you modified for the truncation.  Will look at that as soon as I can.

[2022-05-01 18:32] RolfSander commented on #36
Yes, it could be the code that I changed. Would `strcpy(s, "");` be
better than `s[0] = '\0';` ?

I unfortunately cannot test this on my machine because the code runs
fine here. Maybe it is Docker-related?

[2022-05-02 13:07] laestrada commented on #36
Moving the Makefile should be fine -- we will just need to update the relevant line in the Dockerfile accordingly:
eg:
[code]

[2022-05-02 14:33] yantosca commented on #36
So the stack smashing error seems to be just a plain old buffer overflow.  Increasing MAX_EQNLEN in gdata.h from 200 to 300 seems to fix it on my Linux laptop.

However, when I run in the container, I get a seg fault.  Maybe hitting a memory limit.  Might need to tweak that a little bit.

I have to move onto something else today but hope to get back to this soon.

[2022-05-02 14:54] RolfSander commented on #5
The person who has been working on this will leave the Jülich institute soon. I'm closing this issue for now. I hope we can find someone in the future to continue this project

[2022-05-02 14:54] #5 closed

[2022-05-02 14:58] yantosca commented on #36
Pushed these fixes:
  - Increased MAX_EQNLEN to 300 in caf49af658b64841f407ee3bbb737817a7fb3fe8
  - Remove more self-referential `sprintf` statements in 22552bc3b35252d6eda43821d63fa467364ff056

These commits passed the [C-I test on Azure Dev Ops](https://dev.azure.com/KineticPreProcessor/web/build.aspx?pcguid=858a834f-73db-470b-af01-60a40b33b4a9&builduri=vstfs%3a%2f%2f%2fBuild%2fBuild%2f119&track

[2022-05-02 15:06] laestrada commented on #36
On this note, one issue with the naming scheme `Makefile.f90` and `Makefile.F90` or `Makefile_f90` and `Makefile_F90` is that on case insensitive file systems there is no distinction between them. Eg. if you clone on macos you get the following:

[code]

I would recommend some distinction between them eg. `Makefile_upper_F90` and `Makefile_lower_f90`

[2022-05-02 15:16] yantosca commented on #36
that's a good idea.  I was running up against that on my mac.  Will push that later.

[2022-05-02 16:07] RolfSander commented on #36
Yes, I will take care of the Dockerfile.

Another question: Is it okay if I delete cflags.guess and cflags? I think these files are obsolete because we use Makefile.defs for machine-dependent settings now.

[2022-05-02 16:09] RolfSander commented on #36
@yantosca: I'm sorry I can't help you with this. I'm still unable to reproduce your error. Even when compiling with -Wall.

[2022-05-02 17:33] yantosca commented on #36
Ok to remove cflags and cflags.guess, @RolfSander!

[2022-05-02 17:44] RolfSander commented on #36
The revamped Makefile in src/ is now in the cleanup branch. Let me know in case you encounter any problems!

[2022-05-02 18:02] laestrada commented on #36
Looks like it built successfully on azure, so we should be all set!

[2022-05-03 13:15] yantosca commented on #36
Also FYI, the only compiler warnings we now get are:
[code]
Not sure how to address all of these.  I think the one with crtMembers just needs a cast to fix.

[2022-05-03 14:16] yantosca commented on #36
@RolfSander, I added a function prototype to scan.h so that avoids the `yylex()` undefined function error.

The crtMembers warning I was able to fix with:

[code]
since `*nr` is pointer to char but `crtMembers[ crtMemberNr ].coeff_str` is char.

[2022-05-03 14:17] yantosca commented on #36
I just pushed fixes for fprintf and sprintf -- they needed a format string `%s` in between the 1st and 2nd arguments.

[2022-05-03 15:13] yantosca commented on #36
I also just now pushed some more fixes for MacOS.  So it seems that there is a hard cap on stack memory  (see https://stackoverflow.com/questions/42315207/extend-the-stack-size-on-macos-sierra) so the best you can do is 65532 kb instead of setting it to unlimited.  Therefore, I had to add an #ifdef MACOS statement so that we could set MAX_EQN and MAX_SPECIES to lower values than the defaults.

Goo

[2022-05-03 15:55] RolfSander commented on #36
Thanks, @yantosca, for the cleanup! The code compiles on my computer now w/o any
warnings. I think we're ready for 2.5.0 now.

[2022-05-03 16:12] RolfSander commented on #36
Also thanks for updating kpp.el! I forgot about that. I think I will add
a new section for KPP developers to the User Manual, describing what you
have to do to introduce a new command. Here is a quick summary:

- In src:
  `scan.h`: add `void CmdNEWCMD( char *cmd );`
  `scan.l`: add `{ "NEWCMD",    PRM_STATE, NEWCMD   },`
  `scanner.c`: add `void CmdNEWCMD( char *cmd )`
  `scan.y`:
   - add `%toke

[2022-05-03 16:34] yantosca commented on #36
Thanks @RolfSander.  I'll merge into dev and then open a new branch for the ReadTheDocs.

[2022-05-03 20:54] yantosca commented on #36
Some updates:
  1. Added optional VdotOut to Fun() routine (similar to Aout)
  2. Started feature/ReadTheDocs branch.  I've used Pandoc to convert the user manual but there will be some hand editing needed.
  3. I tried using code generated by the dev branch vs. code generated by KPP 2.3.3_gc in GEOS-Chem.  We get identical results!

[2022-05-04 20:22] yantosca commented on #37
We can close this issue since #38 has now been merged into dev.

[2022-05-04 20:22] #37 closed

[2022-05-04 20:26] yantosca opened #39 "Create ReadTheDocs documentation for KPP"
## Overview

I have started adding the ReadTheDocs documentation for this repository in the feature/ReadTheDocs branch.

The kpp_UserManual.tex can be ported to ReST by this command:
[code]
and there will of course be some hand editing.

Testing of the documentation can be done with the sphinx-autobuild
[code]
which will build the documentation and serve the output to localhost:8000.  This is best

[2022-05-06 14:47] yantosca commented on #39
Thanks @RolfSander.  I would propose moving the GEOS-Chem specific stuff to geos-chem.readthedocs.io, and just end up having a RTD translation of the existing kpp manual

[2022-05-06 15:01] yantosca commented on #39
I just re-pointed the ReadTheDocs to the our new KPP repository.  See https://kpp.readthedocs.io/

[2022-05-06 15:01] yantosca commented on #39
Also I think you can generate a PDF from the readthedocs site

[2022-05-06 15:17] RolfSander commented on #39
Yes, this looks like the right place.

Yes, that would be good. I hope there isn't too much to be done manually
after the pandoc conversion.

That's also an interesting option to explore.

[2022-05-10 16:18] RolfSander commented on #3
In MECCA, we have a mass balance checker that uses the elemental
composition of the species from #DEFVAR and #DEFFIX. My original idea
was to generalize my script so that it can be used for other mechanisms
as well, e.g. for GEOS-Chem. However, I now realized that the chemical
species in GEOS-Chem all have "IGNORE" as their elemental composition,
so the mass checker won't work. Thus, I'm putting t

[2022-05-10 16:34] RolfSander commented on #1
For MECCA, I have a python script that creates a pdf of the chemical
mechanism, sorted by elements, and including references for the rate
constants. You can see an example here:

https://www.rolf-sander.net/messy/mecca/meccanism.pdf

My original idea was to generalize my script so that it can be used for
other mechanisms as well, e.g. for GEOS-Chem. However, I now realized
that my script depends o

[2022-05-14 08:41] RolfSander commented on #1
put on hold for now

Let me know if anyone is interested in this feature for GEOS-Chem...

[2022-05-14 08:41] RolfSander commented on #3
put on hold for now

Let me know if anyone is interested in this feature for GEOS-Chem...

[2022-05-14 08:41] #3 closed

[2022-05-14 08:42] #1 closed

[2022-05-14 16:44] RolfSander opened #40 "Cleanup of integrator files"
One of the features I like most about KPP is that you can choose the
most suitable integrator for your problem and even fine-tune it.
However, for me as a non-mathematician, it is also important that the
integrator works out-of-the-box. Therefore I suggest that we check all
int/*.f90 files and either decide to maintain them, or move them into
the int/user_contributed/ directory. For those that we

[2022-05-16 13:27] yantosca commented on #40
Thanks @RolfSander, I think it is a good idea to check for consistency between the integrator options.  Just the other day I ran into an issue because the GEOS-Chem interface was expecting the Nhnew parameter to be found in the integrator file (which is true if you are using rosenbrock but not if you are using feuler).  So that led to a compile time error.  There may be other things like that to s

[2022-05-16 18:21] RolfSander commented on #40
Yes, I'll work on this.

I think that's okay because in gen.c we have:

[code]

I have renamed them.

Here's a quick overview:

- `rosenbrock_adj.f90` and `rosenbrock_tlm.f90` are the adjoint and the
  tangent linear model, respectively. I guess these should remain as
  separate files.

- `rosenbrock_mz.f90` is based on an older version (from KPP-2.1) and
  specific to our global model. We may wan

[2022-05-16 23:41] yantosca commented on #39
See PR #41

[2022-05-17 18:01] RolfSander commented on #40
I removed the trivial differences (whitespace etc.) between
`rosenbrock.f90`, `rosenbrock_posdef.f90` and `rosenbrock_split.f90`.
Now it's easier to see what the real differences are.

I think it should be straightforward to merge `rosenbrock_posdef.f90`
into `rosenbrock.f90` with a new KPP command "#POSDEF". Or, even better,
use ICNTRL to switch between the options.

Regarding `rosenbrock_split.f

[2022-05-17 23:11] msl3v commented on #40
@RolfSander , are you not sure about merging rosenblock_split.f90 into rosenbrock.f90? It doesn't seem straightforward. Computationally, I think it's cleaner to keep it separate, since it is driven by different preprocessor output, and I've been religiously avoiding branching statements (if else).

[2022-05-18 02:26] msl3v commented on #39
I'm able to run the example. But it did not require copying anything into the dir. It appears that setting #MODEL small_strato did all of the copying necessary.
Also, Bob, please include a statement about needing to increase the stacksize to get KPP to generate the stoichiometry files.

[2022-05-18 02:31] msl3v commented on #39
On the page "Input for KPP", the paragraph starting with "The kinetic description files contain a detailed specification... " is not clear.

[2022-05-18 12:25] msl3v commented on #40
Re. branching: I don't know how much of an impact it would have. Though my understanding is that, using

IF (split) THEN
  CALL Fun_Split
ELSE
  CALL Fun
ENDIF

the compiler would try to preload Fun_Split in every iteration, which would definitely slow things down if (.not. split).

Having KPP overwrite something like _KPPFUNCTION is a great idea! Indeed this approach in general would allow really

[2022-05-18 12:34] RolfSander commented on #40
OK, then let's use this approach for Fun_Split and Fun!

Yes, we can use this whenever we need to modify something in the
integrator file, as long as it is something that will not change during
runtime of the model. Then we have to use IF blocks and ICNTRL.

[2022-05-18 14:19] yantosca commented on #39
I just confirmed that!  I guess KPP is smart enough to look for the files in `$KPP_HOME`.  I'll take out the copy commands but leave the other text.

Will do!  Slipped my mind.

[2022-05-18 14:49] RolfSander commented on #40
Sorry, somehow the CI-tests don't start when I push into this branch.

I hope the fix in gen.c works.

[2022-05-18 18:48] yantosca commented on #39
FYI, if you click on at the bottom of the left bar on ReadTheDocs, you'll get this menu
![kpp](https://user-images.githubusercontent.com/5880296/169123907-d32ed6ce-a1bc-4d0e-b3af-f2715cb9c5a9.png)
and you can get a PDF version of the manual

[2022-05-18 20:13] RolfSander commented on #39
Great to see that ReadTheDocs provides PDF generation as well! For our
next release (2.6.0), I think we can delete the manual/ directory and
include the ReadTheDocs-generated pdf instead.

[2022-05-18 20:56] yantosca commented on #39
Indeed!  I will close out this issue now.

[2022-05-18 20:56] #39 closed

[2022-05-18 20:58] yantosca commented on #40
The C-I tests now work again.  Had to change `#INTEGRATOR kpp_radau5` to `#INTEGRATOR radau5` in the radau90.kpp file.  All good!

[2022-05-19 10:38] #36 closed

[2022-05-19 12:47] msl3v commented on #39
Also should we add a brief statement on the updating of the other languages?

[2022-05-19 12:54] RolfSander commented on #40
I have performed several tests with different integrators and a simple
ozone+NOx chemistry. Here is a summary of the results:

- We already have the integrators LSODE, RADAU5, ROSENBROCK,
  RUNGE_KUTTA, and SDIRK in our CI-tests. It's no surprise that they
  also passed all of my tests.

- The integrators ROSENBROCK_POSDEF and SDIRK4 are not included in our
  CI-tests but they passed as well.

- T

[2022-05-19 13:09] RolfSander commented on #39
Apparently, the superscript is used to refer to a certain time step. You
can also find this notation in an old paper from Adrian:

10.1016/J.ATMOSENV.2003.08.019

Should we adopt this notation or try to use a subscript instead?

[2022-05-20 14:28] RolfSander commented on #40
More questions for you, @yantosca and @msl3v. For 4 of our integrators,
we only have FORTRAN77 versions:

[code]

I suggest to delete them. If anyone is interested, we can always recover
the old code from KPP-2.5.0 and convert it to Fortran 90 later.

[2022-05-20 14:45] yantosca commented on #40
I have no problem with this.  We typically use Rosenbrock and Forward Euler for our simulations.

I guess this is a wider question -- should we also go thru the KPP code and remove code_f77.c and all other references to F77 output?

[2022-05-20 14:54] RolfSander commented on #40
Removing all references to F77 might be a lot of work. I think it would
be sufficient to state in our documentation that F77 is deprecated and
not maintained anymore.

[2022-05-20 15:01] yantosca commented on #40
@RolfSander that's fine w/ me.  I can add that to the docs.

[2022-05-20 15:07] RolfSander commented on #40
OK, thanks!

What is your opinion on DVODE, SEULEX, GILLESPIE, and TAU_LEAP (see above)?

[2022-05-20 15:09] yantosca commented on #40
I guess as long as there are F90 compilers, I'd leave them.  We do reference Gillespie in the docs.  (But we can always update it I guess).

[2022-05-20 15:11] yantosca commented on #40
Hi @RolfSander, let me scope out the issues with DVODE & SEULEX.  If it's a quick fix I'll push an update.  Otherwise we'll remove them.

[2022-05-20 15:19] RolfSander commented on #40
Yes, I'd also like to keep GILLESPIE and TAU_LEAP. If the Makefile is
the only issue with them, we could simply mention in the docs that you
compile with `make stochastic` instead of `make`.

Sounds good. Thanks for checking!

[2022-05-20 17:26] yantosca commented on #40
SEULEX Is OK, it just needed a 'USE KPP_Root_Global` statement at the top of the module.

I've managed to fix all the warnings and errors except for:
[code]
I think it has to do with the manual INTERFACE declaration for `J_FCN`, and that not lining up w/ the actual arguments of `FUN_CHEM`.  I need to move on to something else for now but I'll try to fix that later.

[2022-05-20 17:50] RolfSander commented on #40
Thanks, it's great that you were able to repair SEULEX!

Hmm, the `INTERFACE DVODE_F90` with `MODULE PROCEDURE` statements looks
pretty complex.

Next week, I'll be attending the EGU conference (virtually) and after
that I'll take a few days off. I'm not sure if I can find much time to
work on KPP until the beginning of June...

[2022-05-20 18:03] yantosca commented on #40
No worries @RolfSander.  I will be going to IGC10 in St. Louis in early June so will have to prep for that.  At least we got KPP 2.5.0 out which will be something for us to trumptet at IGC10.

[2022-05-21 10:14] RolfSander commented on #40
I'm using `ICNTRL(16)=1` now in `rosenbrock.f90` to set negative
concentrations to zero. The separate files `rosenbrock_posdef.*` are not necessary anymore.

[2022-05-21 14:29] RolfSander commented on #40
I'm working on `FUN` and `FUN_SPLIT` now.

@yantosca : In commit b95b4ea2af68e230f71ac2c66fc5fdbebf35a573, you added this code to
GenerateFun() in gen.c:

[code]

I'm trying to understand what it means. The loop starts with i = VarNr
and ends at i < VarNr. What is the purpose of this for-loop?

[2022-05-22 11:01] RolfSander commented on #40
There is no separate `rosenblock_split` integrator anymore. Instead, you
now just use the command `#FUNCTION SPLIT` and use the normal
`rosenbrock.f90` integrator. It should work fine but please let me know
if you discover any problems. I also adapted the `exponential.f90`
solver but that hasn't been tested yet. There is also a new CI test
(`ros_split`) but for unknown reasons the CI tests don't e

[2022-05-22 12:20] msl3v commented on #40
I have to applaud the work you guys are doing. I wish I was more
available to help with this directly. If you need more specific things,
please let me know.

On 5/22/22 07:01, Rolf Sander wrote:

[2022-05-22 13:15] msl3v commented on #40
@RolfSander @yantosca I think the AR-boxmodel can be ingested into the $KPP_HOME/models dir. Would you guys like me to do this?

[2022-05-22 13:49] RolfSander commented on #40
Thanks, @msl3v!

Maybe you could just try to run Rosenbrock with the SPLIT option on your computer and let me know if it works? If not, I can take care of fixing the problem...

[2022-05-22 13:51] RolfSander commented on #40
I don't know the AR-boxmodel. If you think you can put it into a *.def, a *.spc and an *.eqn file in models/, it would certainly be a nice addition to KPP!

[2022-05-23 13:26] RolfSander commented on #40
I'm working on ICNTRL consistency amongst the solvers now. As a start, here is a summary table for the f90 solvers:

| ICNTRL      | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 | 11 | 12 | 13 | 14 | 15 | 16 |
|-----------------|---|---|---|---|---|---|---|---|---|----|----|----|----|----|----|----|
| beuler          | - | + | + | + | + | + | - | - | - | -  | -  | -  | -  | -  | +  | -  |
| dvode

[2022-05-23 14:41] RolfSander commented on #40
Here is a list of tasks related to ICNTRL:

1. In our documentation, ICNTRL is currently in the "Information for KPP
  developers" section (07_numerical_methods). I don't think you
  have to be a developer to use ICNTRL. I suggest to move the
  description to the "Input for KPP" section (04_input_for_kpp).
  Likewise, the description of I/RSTATUS could go to "Output from KPP"
  (05_output_from_kpp

[2022-05-23 18:38] yantosca commented on #40
Thanks @RolfSander.  Please go ahead with the #1, #2, and #3.  I think those are all good updates.

I remember looking at the tau_leap and gillespie integrators.  Not sure if many of the ICNTRL options apply to them (maybe only ICNTRL(15) would, or ICNTRL(17) if we add it in).  We could just add those features in as time allows.

[2022-05-23 18:46] msl3v commented on #40
OK. This is good guidance. I will make the needed changes to feuler.f90

On 5/23/22 10:41, Rolf Sander wrote:

[2022-05-24 09:49] RolfSander commented on #40
Thanks, @msl3v, for updating feuler.f90!

I will take care of 1. and 3.

I don't know anyone who is actually using tau_leap and gillespie. For
now, I suggest that we simply mention in the docs that they don't make
use of ICNTRL.

[2022-05-24 09:51] RolfSander opened #43 "Ideas for KPP 4.0.0"
Add your ideas for KPP 4.0.0 here. Everything we don't have the time to work on now but may be a nice addition in the future...

[2022-05-24 09:52] RolfSander commented on #43
Use ICNTRL in tau_leap and gillespie integrators

[2022-05-24 13:26] yantosca commented on #43
Have the Fortran90 code create a derived type with global variables

[2022-05-25 00:46] msl3v commented on #43
I have two different KPP models in development. Features for a v4.0.0 list will definitely come out of this.

[2022-06-01 17:24] RolfSander commented on #40
No problem. Enjoy the GEOS-Chem meeting and let's continue when you're back...

[2022-06-17 19:04] RolfSander opened #45 "Matlab"
This is for all matlab-related issues

[2022-06-17 19:18] RolfSander commented on #45
I have created a new branch called `matlab` in which I have introduced
some preliminary fixes:

https://github.com/KineticPreProcessor/KPP/tree/matlab

@ShaddyAhmed: Does this work for you?

@yantosca, @msl3v: There were two problems. First, Matlab does not have
the `functionFile` and I had to deactivate some write statements related
to Aout and Vdotout for Matlab. Second, Matlab does not use
`Wri

[2022-06-18 00:50] yantosca commented on #45
Thanks @RolfSander.  I am out sick but will take a look by early next week. I think it should be fine to shunt those write statements for Matlab (as they are only needed for F90).

[2022-06-18 07:55] RolfSander commented on #45
Get well soon!

[2022-06-19 12:25] msl3v commented on #45
I'll have a look this week.
ML

On 6/17/22 15:18, Rolf Sander wrote:

[2022-06-20 09:28] ShaddyAhmed commented on #45
@RolfSander Yes I can now compile the mechanism successfully! I still need to perform some tests to check that the mechanism works (there are some warnings regarding continuation lines in the rate laws that will need to be fixed). I will report any bugs/issues on this thread.

[2022-06-21 14:24] yantosca commented on #45
Hi all, sorry for the late response, I was out sick since coming back from the IGC10 meeting last week.

@RolfSander, I took a look at the matlab branch and ran the C-I tests on that vs. the dev branch.  We get identical results.. the only diffs are the ros_split test and the seulex90 test which are in one branch but not the other.  So unless there are any other issues in generating the Matlab cod

[2022-06-21 18:12] drewpendergrass commented on #43
Yes it's based on f2py! The wrapper is quite basic at this point, but it makes it easy to do box modeling within a Python environment -- which is much nicer than messing around in fortran.

[2022-06-21 18:31] yantosca commented on #45
Also tagging Katie Travis (@ktravis213) at EPA.  Katie uses the FOAM box modeling framework, which runs in Matlab.  Would be great if we can test a KPP-generated Matlab mechanism w/ FOAM at some point.

[2022-06-21 18:31] RolfSander commented on #43
Nice :-)

I've used f2py for other (pretty small) projects, and my experience has been very good so far!

[2022-06-21 19:25] yantosca commented on #10
I will close out this issue as this is GEOS-Chem specific.

[2022-06-21 19:25] #10 closed

[2022-06-21 20:39] yantosca commented on #4
Was looking at the MCM.  There are some reactions that need hand editing:

[code]

[2022-06-21 21:56] jimmielin commented on #2
I just wanted to confirm this is still under the `3.0.0` target - are there any blockers for implementing this within KPP, besides requiring atomic composition to be specified for each species? This could be a nice feature and a demo could be included in the KPP documentation as well. Thanks!

[2022-06-22 09:50] RolfSander commented on #2
The atomic composition is indeed the only reason why I haven't started
with the visualization yet. Plotting the whole mechanism makes no sense,
you wouldn't be able to see anything in that plot. Currently, my
visualization code is very MECCA-specific. It makes plots for several
subsets of the reaction mechanism, for example one plot for bromine
chemistry and one plot for chlorine chemistry. Even i

[2022-06-22 11:07] RolfSander commented on #4
Yes, these are two of the problems with the MCM-generated files. There
are more:

- I don't think that "USE constants" and "CALL mcm_constants" are
  needed. Actually, I currently can't even find where I can download
  constants.f90 from the MCM web page.

- negative exponents should be in parentheses, e.g.

  KC0 = 3.28D-28*M*(TEMP/300)**-6.87

  should be:

  KC0 = 3.28D-28*M*(TEMP/300)**(-6.87)

[2022-06-22 14:59] yantosca commented on #4
Also adding Killian Murphy (@kilicomu) to this thread.  He is the maintainer of the MCM at U. York, UK.  He and I had a long talk about KPP at IGC10.  The MCM group is updating the mechanism and we can feed them any updates the .kpp file.

[2022-06-22 15:16] yantosca commented on #40
We can close out this issue as PR #44 and PR #47 have been merged.

I will open a new issue where we can discuss further cleanup of the rate law functions.

[2022-06-22 15:21] yantosca opened #48 "[FEATURE REQUEST] Continued cleanup of user rate functions and code in the util/ folder"
This issue is a place where we can discuss further updates to cleaning up the rate-law functions that get inlined into the Rates module.  A couple of action items have been identified by @RolfSander and @jimmielin

1.  We still use `-B0/TEMP` in `ARR` and `+B0/TEMP` in `ARR2`. This is a terrible inconsistency. It won't be easy to fix this without backward incompatibilities, though.
  a. NOTE: It s

[2022-06-22 18:54] yantosca commented on #48
1. `FALL`, `EP2`, and `EP3` are used in `models/saprc99.eqn` and `models/saprcnov.eqn` files.

2. I can modify the functions to return `KPP_REAL` for the output type.  That's not a problem.

3. I agree with you about `temp`.  Not sure why that takes it as an argument when it's a global variable.  I left it as is because I didn't know if that would break anything.

4. It also looks like none of the

[2022-06-23 14:19] jimmielin commented on #48
Hi @RolfSander, this question came up when I was working on the manuscript as well. I was going to add that we are now offering `k_3rd_iupac` and `k_3rd_jpl`, but emphasizing that new rate laws were added may give users the confusion that rate laws need to be bundled into KPP to be supported (which is certainly not true!)

So if the strategy is that users should provide their own (as in MECCA usin

[2022-06-23 14:54] RolfSander commented on #48
Yes, fine with me.

I noticed that GEOS-Chem also uses `F90_RCONST` to make the additional
functions available to KPP:

[code]

I think we should explain in the user manual how `F90_RCONST` can be used for
this purpose. It is important that the `USE` command in `F90_RCONST`
comes first, before any executable f90 code.

Good point. The underflow is another reason why `sp` is problematic.

If we say

[2022-06-24 10:43] RolfSander commented on #48
@jimmielin:
To adjust ARR* and k_3rd* in your manuscript, it's probably best to wait
until we have merged `cleanup_util` into `dev`. At the moment we are
still discussing some minor details...

@yantosca:
Thanks for adding the `ARR_[abc]` functions! I think we need to mention
in the user manual that the functions `ARR` and `ARR2` don't exist
anymore in KPP-3.0.0.

[2022-06-24 15:41] yantosca commented on #48
@RolfSander: Yes, I'll push a commit to update the docs in the **cleanup_util** branch and make sure that all instances of `ARR` are updated with the new functions.  Then we can resolve any conflicts with @jimmielin's updates in the **autoreduce** branch.

[2022-06-26 15:48] RolfSander commented on #48
All functions in `UserRateLaws.f90` consistently use `temp` from
`kpp_Global` now. This is good! However, I don't think we should remove
the functions for 3rd-order reactions completely because the formulas
from JPL and IUPAC are widely used. We could add new versions of them
under slightly different names, e.g., `k3rd_iupac`, `k3rd_jpl` and
`k3rd_jpl_activation`. For consistency with `ARR_*`, the

[2022-06-26 16:54] yantosca commented on #48
That's fine with me!

[2022-06-27 09:10] RolfSander opened #50 "Getting ready for 3.0.0"
Let's list all the remaining little tasks here which we'd like to finish before version 3.0.0 is released:

- [x] Status of Matlab?

- [x] Status of C?

- [x] duplicate Table numbers in pdf of user manual

- [x] Add to docs: How to use `F90_RCONST` for including external functions like `Hg_RateLawFuncs`

- [x] Add to docs: Mention in KPP revision history that arr, arr2, and
      k_3rd* were delet

[2022-06-27 14:41] yantosca commented on #50
Was playing around with the C-language output (tried to build radau90 in C).  Got this error:

[code]
Looks like it is a pointer issue -- trying to free a pointer that isn't associated.

[2022-06-27 15:05] yantosca commented on #50
Making a few minor updates to the C-language output.  Will push a PR later.

[2022-06-27 15:27] jimmielin commented on #50
Thanks @RolfSander for starting this. I'll add to docs some description about the auto-reduction - opening a PR shortly.

I would also suggest to expand

with some guidance on leveraging `F90_GLOBAL` to inline code that is used to interface KPP with models. `State_Het` to manage state information for heterogeneous chemistry in GEOS-Chem comes to mind. While this is not a KPP 3.0.0 feature for all

[2022-06-27 15:33] yantosca commented on #50
That's fine, @jimmielin.  Happy to review.

[2022-06-27 20:23] RolfSander commented on #50
I like the idea to call our version a "release candidate" when we submit the manuscript!

[2022-06-27 20:44] yantosca commented on #50
@jimmielin let me see if I can fix that setting

[2022-06-27 23:26] yantosca commented on #50
@jimmielin @RolfSander I fixed the ReadTheDocs setting.  Latest points to dev and stable always points to the latest release.

[2022-06-27 23:30] yantosca commented on #50
@jimmielin: I often preview the ReadTheDocs on my laptop with sphinx-autobuild.  I can tell you more about that offline if you want.

[2022-06-27 23:32] yantosca commented on #50
We can tag it with 3.0.0-rc.0

[2022-06-28 00:04] yantosca commented on #48
We can close out this thread as PR #52 is merged.

[2022-06-28 00:04] #48 closed

[2022-06-28 01:23] jimmielin commented on #50
Thanks @yantosca! This will be very helpful so `dev` documentation can be quickly viewed. Once all the items here are finished we can tag `3.0.0-rc.0` for manuscript review, then release a final `3.0.0` once everything is cleared with the reviewers.

[2022-06-28 07:11] RolfSander commented on #6
Thinking about this feature again, I fear that it won't be possible in C. For the time being, I guess we'll have to recompile KPP every time we reach one of the limits.

I've added the milestone 4.0.0 to this issue.

[2022-06-28 07:57] RolfSander commented on #50
Yes: `3.0.0-rc.0`

[2022-06-28 10:59] RolfSander commented on #50
@yantosca: Thanks, pushing updated documentation to the dev branch also
updates the readthedocs page now!

Creating a local preview with sphinx-autobuild also works fine for me.
However, the result is slightly different (I have an older sphinx
version), so it's good to have both options.

[2022-06-28 12:07] RolfSander commented on #4
Hello @kilicomu!

When I downloaded reactions in KPP format from the MCM a few days ago, I
noticed that one of the problems I used to have is now fixed: The
MCM-generated files used to be a mixture of DOS and UNIX format. Thanks
for fixing this!

There are a couple of other problems (listed above in my previous post),
and I currently have to run a shell script to fix them in the downloaded
MCM fil

[2022-06-28 21:37] yantosca commented on #50
Also I went on readthedocs.org (the configuration page) and was able to activate the 2.6.0 and 2.5.0 RTD builds.  When you click on the v.latest tab at bottom left, the older versions of the docs are visible as well.

[2022-06-29 07:26] RolfSander commented on #50
Nice to have the docs of other versions as well! I encountered a couple
of small problems with RTD. Nothing terribly important but if you know
how to fix it, that would be great:

- The references are not sorted alphabetically. I tried changing
  `default_sort_style` in conf.py but it didn't work.

- Table numbers are duplicate in the pdf, e.g., "Table 22: Table 18.
  Continuous integration tests"

[2022-06-29 12:50] RolfSander commented on #4
I'm not sure if @kilicomu is reading this discussion. Are the any other ways to contact him?

[2022-06-29 12:55] yantosca commented on #50
@RolfSander I can look into the references.  I think the default is to sort by the order of citation but there must be ways to change that.

I'll also go thru and remove the table numbers.

[2022-06-29 15:57] yantosca commented on #50
I also removed the table numbers from table titles.

[2022-06-29 16:12] RolfSander commented on #50
Thanks, @yantosca! I had also tried alpha instead of unsrt but it didn't work. I must have done something wrong, I guess...

Thanks also for adjusting the BibTeX keys! The new keys are much better for the alphabetically sorted list of references.

[2022-06-29 16:27] RolfSander commented on #50
Thanks for removing the table numbers. I deleted 3 more, I think they're all gone now.

[2022-06-30 10:34] RolfSander commented on #50
I've finished copy-editing of the whole documentation now. A few remaining
tasks are added to the to-do list at the top of this page.

[2022-06-30 15:44] jimmielin commented on #50
Maybe we could just point to the documentation and remove the `.md` files. Making a symbolic link from `/CONTRIBUTING.md` to `/docs/CONTRIBUTING.rst` could also work, since `.rst` files also show up nicely in GitHub.

[2022-06-30 17:09] ShaddyAhmed commented on #45
Hi all - sorry for the delay in getting back to you on this! I did some tests compiling the PACT-1D mechanism with KPP 2.5.0 and there are just a few minor bugs which I think can be fixed in the KPP source code:

1. Update_RCONST: Line continuation error for one rate constant (RCONST(46)).
2. Fun: 2 fixes - Vdotout variable is not defined and allocate arrays for A and Vdot.
3. Jac_SP: Allocate arr

[2022-06-30 17:10] msl3v commented on #50
I can add feuler.f90 words. Anything else?

On 6/30/22 06:42, Rolf Sander wrote:

[2022-06-30 17:25] RolfSander commented on #50
@msl3v: Maybe add a one-liner for ComputeFamilies in table-util-fun in 05_output_from_kpp.rst?

[2022-06-30 17:46] msl3v commented on #50
I don't think ComputeFamilies() is used, nor is it functional. I think
it's an artifact from early families development.
All of the reactions associated with a given family definition get the
same variable, so the 'sum' that the ComputeFamilies() routine was
originally performing is no longer necessary.

( Looking back in the repo, I had the call to GenerateComputeFamilies()
commented out. Not sur

[2022-06-30 18:05] RolfSander commented on #45
Thanks, @ShaddyAhmed !

I think I will be able to transfer these fixes into the KPP source code.

I also noticed that your fix added `global ClAer_t0` and `global BrAer_t0` to Update_RCONST. Wouldn't it be better to add these lines via `#INLINE MATLAB_RCONST`?

[2022-06-30 18:08] ShaddyAhmed commented on #45
@RolfSander Great - Sorry I forgot to remove those lines as they were simulation specific for our case and not needed for other cases. These lines can be ignored

[2022-06-30 18:08] jenniethomas commented on #45
@RolfSander these were rather specific hacks for our model.  They should not be added.  :)

[2022-06-30 18:11] jenniethomas commented on #45
sorry - we responded at the same time.  We agree on this.  So, don't add.

[2022-06-30 19:29] yantosca commented on #50
I updated the C-I test list and also now link to the `CONTRIBUTING.md` and `SUPPORT.md` in the root folder.

[2022-07-01 07:22] RolfSander commented on #50
Thanks, @yantosca!

Can you help me to understand how this works now? In index.rst, I still see SUPPORT.rst and CONTRIBUTING.rst. How does sphinx know that it has to use CONTRIBUTING.md and SUPPORT.md instead?

[2022-07-01 07:55] RolfSander commented on #45
@yantosca: While looking at Vdotout and Vdot in Matlab, I noticed that we have
this also in the f90 output. Is the new optional parameter `Vdotout` in
SUBROUTINE FUN really necessary? The same values are already returned in
the variable `Vdot`.

[2022-07-01 09:41] RolfSander commented on #45
I have written some bug fixes and pushed them into the `matlab` branch.
@ShaddyAhmed: Can you test if it works for you?

The line continuation error is still not fixed properly. As a Q&D bug
fix, I simply allow longer lines now. If this is not good enough, we'll
have to look at this problem again.

[2022-07-01 10:04] RolfSander commented on #45
Great!

I've merged the Matlab updates updates into the `dev` branch, so they will be available when KPP-3.0.0 is released.

Is there anything else that needs to be done for Matlab? If not, I will close this issue.

[2022-07-01 10:09] ShaddyAhmed commented on #45
Sounds great! No other updates from me for now. @jenniethomas anything to add?

[2022-07-01 12:22] jenniethomas commented on #45
No more from me!  I think we will just have Jochen and Thorsten test with their running versions.  I will ask them now and you should have the answer shortly.

[2022-07-01 13:03] RolfSander commented on #50
@msl3v, @yantosca: Is this line still needed in `gen.c`?

```FLUX = DefvElm( "FLUX", real, -NFLUX, "Captured flux through reactions (global)" );```

AFAICS, `NFLUX` is undefined.

[2022-07-01 13:16] msl3v commented on #50
@RolfSander: None of the FLUX ops are needed. I will clean that all out
now and push.

On 7/1/22 09:03, Rolf Sander wrote:

[2022-07-03 09:53] RolfSander commented on #45
Thanks, @jenniethomas and @ShaddyAhmed! I will close this issue now.

If you find any additional bugs, feel free to re-open this issue any time (or create a new issue).

[2022-07-03 09:54] #45 closed

[2022-07-03 10:40] jenniethomas commented on #45
@RolfSander Thorsten is just checking one things works for him - we will confirm Monday.  We are just checking he used the right branch and will follow up.

[2022-07-03 11:03] RolfSander commented on #45
No problem. Just re-open this issue if there is anything else to do...

You can use the `dev` branch now because the `matlab` branch has been merged into `dev`.

[2022-07-04 14:52] jimmielin commented on #43
Based on the discussion above I currently have this list that we can include in the outlook paragraph of the manuscript:
(1) adding support for modern languages such as Python and Julia;
(2) refactoring of the generated code to avoid global data structures for easier parallelization;
(3) streamlining inputs and outputs of all integrators for consistency; and
(4) supporting the adaptive solver opti

[2022-07-04 14:55] drewpendergrass commented on #43
Just noting that I am happy to bottomline the Python/Julia wrapper in KPP4.

[2022-07-04 15:12] jimmielin commented on #43
Thanks @drewpendergrass! It would be awesome to have KPP built with a wrapper so it can interface with modern languages more easily :smile:

[2022-07-04 18:54] RolfSander commented on #43
Thanks, @jimmielin, the list looks good. We may have to add the MCM if we are not able to finish that project (https://github.com/KineticPreProcessor/KPP/issues/4) for KPP-3.0.0:

(5) Improve interaction and compatibility with the Master Chemical Mechanism (http://mcm.york.ac.uk)

[2022-07-05 14:28] ThorBarRa commented on #45
@RolfSander These issues are fixed and KPP compiled and runs successfully. This is in a Apple M1 Pro with MacOS Monterey (12.4). Thanks for your work on the code to make compiling it on Mac work! There were additinonal workaround needed to compile it on 12.4 related to native gcc not running well (so one has to use homebrew version instead) and to the location of the library which Apple seems to s

[2022-07-05 14:35] jimmielin commented on #45
Thanks @ThorBarRa! Please do let us know the changes you made for KPP to work on macOS 12.4. Perhaps we can include the macOS-related information in the Installation section of the online documentation (https://kpp.readthedocs.io/en/latest/getting_started/01_installation.html). I think we briefly mention `homebrew`, but we do not specify the `gcc` version that works with KPP on macOS or other fixe

[2022-07-05 17:55] yantosca commented on #45
Thanks @ThorBarRa and @jimmielin.  I can add the info for MacOS to the doc later this week.  I believe I was using GCC 11.4.

Recent Mac-specific commits were: 4d919d0c7ed0c692a05a616ddc72a191a0bbd0cd, e01a5449b2408f33681892deff850064b7a395b9, 6da889145caa8d21e8f73abd694d23bb77398abd

[2022-07-05 18:01] jenniethomas commented on #45
Thanks all for this excellent progress, let's hope this is really useful for users within the community. @yantosca and @RolfSander thanks for contacting us to mobilize to work on this.

[2022-07-06 16:58] JPSTUTZ commented on #45
One additional question: Is there a way to eliminate the use of global variables in KPP for Matlab.

Matlab is quite inefficient in its use of global variables, i.e. it makes the code slow. In addition, the use of global variable prevents parallelization of our model.

[2022-07-06 18:56] RolfSander commented on #45
Thanks for the positive feedback, @JPSTUTZ!

I'm not using Matlab, so I don't know if it is possible to eliminate
global variables. However, if you find a way to do this, I should be
able to adjust the KPP-generated Matlab code accordingly.

[2022-07-06 20:35] JPSTUTZ commented on #45
From what I can find on the performance of structures in Matlab is that they would be faster than global variables. They are a little slower than just using arrays, but I think the benefit of cleaner code outweighs that. Structures in matlab work pretty much like in C, so I think that would be the way to go.

[2022-07-06 20:39] yantosca commented on #50
@RolfSander @jimmielin: I think the purpose of `bibtex.json` is to make sure that only the references cited there show up in the references output.  That might be handy if you are using a `.bib` file with many references.  Maybe in our case we don't need it though.

[2022-07-06 20:48] yantosca commented on #50
@RolfSander, @jimmielin: I would fix the memory leaks.  That might be important if users have several big mechanisms.  I can work on adding that in.

The newer versions of GCC have options to check for memory leaks so that you don't have to use an external tool like Valgrind.  See: https://gcc.gnu.org/onlinedocs/gcc/Instrumentation-Options.html

[2022-07-06 20:49] RolfSander commented on #50
@yantosca: The values inside Vdotout are certainly important, I don't
doubt that. I just noticed that SUBROUTINE Fun already returns exactly
these data via `Vdot` even if you don't supply the optional argument
Vdotout!

[2022-07-06 20:51] jimmielin commented on #50
Thanks @yantosca, fixing the memory leaks is definitely important. Thanks for fixing the CI tests as well together with @laestrada :)

I'm wrapping up the manuscript right now. It looks like we can get `3.0.0.rc.1` out this week or next. I'll send out the updated version for a final round of comments and we should be ready to go if there aren't any blocking bugs before release :-)

[2022-07-06 21:01] RolfSander commented on #50
@yantosca: Thanks for fixing the C-I tests!

[2022-07-06 21:06] jimmielin commented on #50
Looks like we are using `sphinx==3.5.4` so we should not need `bibtex.json` anymore: https://github.com/KineticPreProcessor/KPP/blob/dev/docs/requirements.txt

[2022-07-06 21:07] RolfSander commented on #50
@jimmielin: Yes, creating the release candidate version soon is fine
with me. We can continue to work on the tasks in this issue while the
manuscript is under review.

[2022-07-06 21:11] RolfSander commented on #50
Sorry, I meant the sphinxcontrib-bibtex version, not the sphinx version. Still, with 2.2.0 it's fine for us to delete `bibtex.json`.

[2022-07-06 21:16] yantosca commented on #50
We can delete bibtex.json.  I'll do it.

I also manually added @kilicomu's updates into dev (they were only a few lines)

[2022-07-06 22:43] yantosca commented on #50
I just now pushed some doc for MacOS X.

[2022-07-06 22:45] yantosca commented on #45
@ThorBarRa, I added some documentation for MacOS to ReadTheDocs.  It should be visible at https://kpp.readthedocs.io/en/latest/.

[2022-07-06 23:02] ThorBarRa commented on #45
@yantosca Thanks! I'll try it over the weekend and come back to you? Remind me. Was that for silicone Macs and macOS 12?
And, apologies for my silence....trying to understand and modify PACT-1D :-)

[2022-07-06 23:06] ThorBarRa commented on #45
I can just copy that. Structure would slimmer and one could rely more on newer built-in features  and functions that Mathworks introduced for structures (and similar data containers). Happy to contribute, once its time for 4.0.

[2022-07-07 00:22] jimmielin commented on #50
Hi @yantosca, it looks like `Vdotout` can probably be removed, if there are no more bindings to it in GEOS other than `fullchem_mod.F90`. I looked at the `dev` branch and the only place we use `Vdotout` is:

[code]

Some other calls get `Vdotout` but they're not used anywhere (and it's a local variable so it doesn't propagate to other places). It can probably be replaced with `Vloc` which has the

[2022-07-07 14:11] RolfSander commented on #45
@jenniethomas, @ThorBarRa, @JPSTUTZ, @ShaddyAhmed: We have removed ` Vdotout` from KPP because it turned out that it was redundant. We also removed the line

```Vdotout = Vdot(:);```

from the Matlab output. We don't think it is needed but please let us know if it is...

[2022-07-07 15:02] ShaddyAhmed commented on #45
@RolfSander Yes I imagine this should work fine for matlab!

[2022-07-07 15:38] RolfSander commented on #45
OK, thanks @ShaddyAhmed!

[2022-07-07 15:40] jimmielin opened #56 "[BUG/ISSUE] Matlab Fun() issues"
I'm trying to get a small mechanism running with Matlab/Octave but I'm running into a weird bug in the latest `dev` commit.

I have a new Matlab mechanism using `small_strato`, specified by `m_small_strato.kpp`:
[code]

Running `kpp` this generates the code fine but it crashes on `Fun()` - looking at `m_small_strato_Fun.m`, the code is obviously wrong:
[code]

For some reason, `Aout` is set as the

[2022-07-07 16:04] jimmielin opened #57 "[DISCUSSION] Octave for MATLAB C-I tests"
This is a discussion for implementing C-I tests for Matlab language code generated by KPP in the future. I think we should be able to use [GNU Octave](https://octave.org).

Apparently, the `octave` build in Ubuntu LTS 20.04 (which I think the CI tests run on) don't include the SUNDIALS solver so it won't solve ODEs out-of-the-box, and `octave` needs to be built from source. This is problematic. I

[2022-07-07 16:09] jimmielin commented on #56
For some reason, `Fun_Chem()` gives a row vector which throws an error in the ODE solver:

[code]

This seemed to be fine before, maybe it's a recent Matlab update? `Vdot`'s declaration has been `Vdot=zeros(1,length(V));` for quite some time, so it looks more like a MATLAB change.

[2022-07-08 08:37] kilicomu commented on #50
@yantosca Just to say that I haven't exactly extensively tested those fixes! Hence not PRing them yet.

[2022-07-08 10:06] RolfSander commented on #50
@kilicomu: Thanks for letting us know!

Have you also seen the MCM-related discussion we're having here: https://github.com/KineticPreProcessor/KPP/issues/4 ? It would be great if we can collaborate in improving the MCM-generated KPP files so that they can be used out-of-the-box :-)

[2022-07-09 09:16] RolfSander commented on #50
A new question: Should we rename the "map file" to "log file"?

The name "map file" is normally used for color maps and for a couple of
other purposes, see: https://en.wikipedia.org/wiki/MAP_(file_format)

The KPP-generated "map file", however, is in reality a logfile with
information about the current execution of KPP. I suggest to change the
file suffix from `.map` to `.log`.

[2022-07-09 14:16] yantosca commented on #50
@RolfSander I like this idea.  We'd also need to update all the Makefile distclean targets as well.

[2022-07-09 14:39] RolfSander commented on #50
Good point! I'll adjust the Makefiles as well.

[2022-07-09 19:02] kilicomu commented on #4
@RolfSander I am indeed reading this discussion! I'm away from the office until 2022-07-18 minimum but will be getting to this soon after I'm back.

[2022-07-09 21:17] RolfSander commented on #4
@kilicomu: Thanks for letting us know. I look forward to our collaboration when you're back!

[2022-07-10 08:07] RolfSander commented on #50
I don't think we should wait with submission of the manuscript until the
work on the MCM compatibility is finished. I'll change the MCM milestone
to 4.0.0.

[2022-07-10 08:11] RolfSander commented on #56
Sorry, @jimmielin, I hardly know anything about Matlab. Maybe we should ask our Matlab colleagues directly here?

[2022-07-11 15:11] jimmielin commented on #50
Hi @yantosca, I guess it could be a 3.1.0 release feature since there aren't immediate requests for it, but I'll take a look at the MATLAB code this week to see if there's anything we need to change last minute. I'm actually not sure of the behavior of the MATLAB code in terms of `Update_RCONST()` - MATLAB uses the language's built-in integrators so there isn't a `ICNTRL` like the rest. It would b

[2022-07-11 17:27] yantosca commented on #50
@jimmielin: Yeah, maybe we can make it a 3.1.0 update.  No need to rush, as long as the Fortran is doing what is advertised, I think.

[2022-07-12 08:20] RolfSander commented on #50
I think for KPP-3.0.0 it would be sufficient to mention in the
documentation that the treatment of ICNTRL is somewhat different for the
generated C and Matlab codes:

https://kpp.readthedocs.io/en/latest/using_kpp/05_output_from_kpp.html#the-c-code

https://kpp.readthedocs.io/en/latest/using_kpp/05_output_from_kpp.html#the-matlab-code

[2022-07-12 15:55] jimmielin commented on #56
Hi Rolf, thanks for the suggestion, I'm still looking through the changes we made for the Matlab fixes for PACT-1D as they seem to be related. I'll follow up in that thread shortly once I figure out what changes are needed and confirm they don't break PACT-1D.

[2022-07-12 18:13] yantosca commented on #50
Doc now updated.

[2022-07-12 18:42] jimmielin commented on #50
Thanks @yantosca! I think everything looks good now for the `3.0.0.rc.1` release, everything we've advertised in the manuscript is fully implemented. @RolfSander do we have any last minute changes we would like to make before Thursday?

If we find any issues, etc. after release we can push out revised release candidate(s) as well while the manuscript is in review.

[2022-07-12 19:35] RolfSander commented on #50
I also think that we're ready for 3.0.0-rc.1 now.

A few things we need to adjust before the release:

- Update KPP revision history in 00_revision_history.rst

- Update KPP_VERSION in gdata.h

- Update CHANGELOG.md

[2022-07-13 15:03] yantosca commented on #50
Note: I pushed KPP 3.0.0-rc.0 but it didn't automatically generate a DOI.  I got this error:

[code]
I will try to fix this in KPP 3.0.0-rc.1,

[2022-07-13 15:18] RolfSander commented on #50
Thanks for creating the new version, @yantosca!

Regarding the version number, I think it should be 3.0.0-rc.0, not 3.0.0.rc-0 as in gdata.h and CHANGELOG.md.

[2022-07-13 15:38] yantosca commented on #50
Just pushed KPP 3.0.0-rc.1 but it failed with not valid JSON error.  Ugh, I should have linted it!!!  Will fix.  Also will fix version number.

[2022-07-13 15:52] yantosca commented on #50
Success! DOI now auto-generated  https://zenodo.org/record/6828026

[2022-07-13 16:03] RolfSander commented on #50
Thanks for solving the problem with the auto-generated DOI, @yantosca!

[2022-07-15 19:37] msl3v commented on #43
Preprocess and make multiple mechanisms available in one set of modules. e.g by defining multiple *.eqn files in one *.kpp file, and being provided a module interface that lets the user pick which mechanism to run within a program.

[2022-07-15 20:42] RolfSander commented on #43
@msl3v: This is very similar to what we already have in the MECCA system: A python preprocessing script that extracts selected reactions from a comprehensive kpp file. And also a selection of the desired mechanism at runtime.

[2022-07-21 14:59] msl3v commented on #43
@RolfSander Is the python method you reference similar to how MECCA operated (or still operates?) to build mechanisms? Are the goals still the same? e.g. describe and process trop or strat, or MBL regimes?

What I was describing above would actually pre-process multiple mechanism definitions within one set of modules, e.g. multiple definitions of LU_IROW, LU_ICOL, multiple back-substitution soluti

[2022-07-21 15:04] msl3v commented on #43
Next request/brainstorm: create an add-on infrastructure. A standard method of adding standardized libraries/packages that expand system capacity. e.g. biogeochem functions (I've got a prototype enzyme mechanism built with KPP) that would be developed independently but explicity _for_ KPP.

[2022-07-21 15:10] msl3v commented on #57
@jimmielin This is a worthwhile effort. Let me know if I can help. I will assign myself to this.

[2022-07-21 17:38] RolfSander commented on #43
@msl3v: I was referring to xmecca. This used to be a tcsh/sed/awk script mixture but now it has been converted into a consistent python script xmecca.py.

[2022-07-21 17:42] msl3v commented on #43
Yes! I remember xmecca.

On 7/21/22 13:38, Rolf Sander wrote:

[2022-08-17 06:37] fhkiwi opened #58 "[FEATURE REQUEST]"
# Ask a question about KPP:
Teachers, experts hello! We are having some problems running KPP.
[Some problems about parameter input of KPP model.docx](https://github.com/KineticPreProcessor/KPP/files/9356982/Some.problems.about.parameter.input.of.KPP.model.docx)

[2022-08-17 13:43] yantosca commented on #58
Thanks for writing @fhkiwi.  We cannot assist with implementation of KPP into another model or user context, as that is beyond the scope of our expertise.  But we can offer some general advice:

You would need to add those extra variables in the F90_GLOBAL section (so that they get added to the ROOT_Global.F90 file.  You would also need to modify your driver program (e.g. `general.F90`) so that it

[2022-09-06 17:59] RolfSander commented on #4
@kilicomu: I'm back from vacation and ready to start working on the compatibility of KPP and the MCM!

[2022-09-12 09:40] kilicomu commented on #4
@RolfSander I haven't forgotten about this! I've got a lot of catch-up work on plate at the moment due to being away from the office for an extended period of time. I will get back round to this once I've finished up a few other things.

[2022-09-12 12:32] RolfSander commented on #4
@kilicomu: Sounds good, thanks! Let me know when you have time to work
on this project!

BTW: I'm currently working on the analysis and visualization of chemical
mechanisms. Once we have the MCM in a fully compatible KPP format, it
will be easy to plot all reactions of a selected MCM species. Or all
reactions going from A to B. Or all MCM species containing sulfur. Or...

[2022-09-13 14:14] yangning-code opened #59 "[FEATURE REQUEST]"
# Ask a question about KPP:
When I use kpp.3.0.0 to generate a new mechanism in version 1, the error is as follows:KPP failed to build gckpp_Rates.F90! Aborting.
The details are in the attached figure
![error](https://user-images.githubusercontent.com/51811371/189924303-1ec4f1d3-3935-4e8d-ba09-bdd23ed96b3a.png)

[2022-09-14 13:33] yantosca commented on #59
This question is answered at https://github.com/geoschem/geos-chem/issues/1372.  Closing now.

[2022-09-16 10:29] RolfSander commented on #43
We still have a couple of WAXPY, WSCAL, etc. commands in our integrator
files. I think that these BLAS/LAPACK functions can all be replaced by
Fortran 90 commands. Something to keep in mind for KPP-4.0.0...

[2022-09-17 10:29] RolfSander commented on #43
Delete `#WRITE_OPT` and `WriteOptions()` in `debug.c` because it prints some wrong values. Most probably because it depends on some `use*` variables which are not yet defined. The correct values can be found in the logfile.

[2022-10-11 07:06] msl3v commented on #50
Removed GenerateComputeFamilies() and added a simple description of
FEULER to branch dev. Pushed.
Let me know if anything else is needed.

On 6/30/22 13:55, Rolf Sander wrote:

[2022-10-11 08:39] msl3v commented on #40
Modified this:

1) IF( ICNTRL(16) .eq. 0 ) Don't even perform the search for negatives.
2) Three ICNTRL(16) options instead of two
     0 -> Don't do anything
     1 -> Set negative values to zero
     2 -> Return
     3 -> Stop

Pushed to forwardeuler branch. Pull requesting in a moment.

Bob this will require changing the ICNTRL settings in the carbon cycle
code. ccyclechem_mod.F90.
You could pr

[2022-10-11 15:51] yantosca commented on #50
Hi @msl3v, I don't see your update in the dev branch.

[2022-10-11 20:08] yantosca commented on #50
ah OK then.  Maybe it's an old commit.  Not sure why Github resurrected it.

Also FYI, we were waiting on Haipeng's paper to be reviewed.  It took the journal a while to assign reviewers so this is still ongoing.  Daniel wants 3.0.0 in GEOS-Chem 14.1.0.

[2022-10-11 21:31] jimmielin commented on #50
Yes, hopefully JAMES will get back to us soon. It took about two months to find reviewers and it's been about 30 days in review so hopefully very soon :-)

[2022-10-14 18:07] yantosca commented on #50
@jimmielin @RolfSander: Was speaking to Daniel, he was encouraging us to officially release KPP 3.0.0 soon so that we can start pulling in items for GEOS-Chem 14.1.0.  Would you mind if we start doing this?  (If we decide it's OK, I'll work on it the week of Oct 17th.  Rule 1 of Software Engineering: Never release new code on a Friday.)

[2022-10-14 18:23] RolfSander commented on #50
Hmm, what if the reviewers want us to make some changes to the code? Should we then use version number 3.0.1 for the paper?

[2022-10-14 18:45] yantosca commented on #50
@RolfSander: Daniel says that they probably won't request changes but you never know

[2022-10-17 21:55] yantosca opened #60 "[BUG/ISSUE] FIX must be the 2nd argument passed to FunTemplate in int/feuler.f90-"
While testing the carboncycle simulation in GEOS-Chem (which uses the Forward-Euler integrator, `int/feuler.f90`), I was getting negative concentrations that were hard to pin down.  Long story short, I traced this to this line of code:

https://github.com/KineticPreProcessor/KPP/blob/d690142f8a7e80e79ecb8ba203b004dbeee63afb/int/feuler.f90#L199-L200

but the generated `Fun` routine always takes the

[2022-10-18 08:20] RolfSander commented on #50
Yes, I agree with Daniel that code change requests from the reviewers are quite unlikely. Still, I think it's good to be prepared. Besides, there may be more minor bugs like https://github.com/KineticPreProcessor/KPP/issues/60 in our current code. I think I prefer to continue with the "rc" version numbers for now. Would it be a limitation for GEOS-Chem 14.1.0 if the KPP version is called 3.0.0-rc.

[2022-10-18 13:45] yantosca commented on #50
Thanks @RolfSander.  I am willing to wait until we get the reviews.  I think it's OK to have it be a release candidate version. GEOS-Chem 14.1.0 won't be released for a while so hopefully there's still time for a KPP 3.0.0 release before then.

[2022-10-18 19:39] yantosca commented on #60
We can close this issue as this has been merged into KPP 3.0.0-rc.4.

[2022-10-18 19:39] #60 closed

[2022-10-28 08:56] RolfSander commented on #43
Is anyone using the `#LUMP` command? If not, can we delete it? Looking at the KPP source code, I can't even see if it is already implemented properly. Maybe it doesn't work at all?

[2022-10-28 11:32] msl3v commented on #43
Not here.

On 10/28/22 04:56, Rolf Sander wrote:

[2022-10-30 08:01] LiHui94 opened #62 "[FEATURE REQUEST] /usr/bin/ld: cannot find -lfl"
# Ask a question about KPP:
Hi, I met an error "/usr/bin/ld: cannot find -lfl" when I installed KPP-2.3.3_gc.

This is how I set my environment:

export KPP_FLEX_LIB_DIR=/home/lihui/GC12.3/code/flex/lib
export KPP_FLEX_BIN_DIR=/home/lihui/GC12.3/code/flex

export PATH=$NETCDF_HOME/bin:$KPP_FLEX_BIN_DIR/bin:$PATH
export LD_LIBRARY_PATH=$NETCDF_HOME/lib:$KPP_FLEX_BIN_DIR/lib:$LD_LIBRARY_PATH

export

[2022-11-09 14:57] yantosca opened #63 "Does KPP produce zero-diff results going back to version 2.1?"
I have added this issue as a place where we can post results from KPP validation simulations with the sample mechanisms.  This will allow us to determine if KPP 3.0.0 produces identical results w/r/t older versions.

Tagging @jimmielin @RolfSander @msl3v

[2022-11-09 15:20] jimmielin commented on #63
Thanks Bob for working on this! Looking forward to confirming we get the same results.

[2022-11-09 15:27] yantosca commented on #63
Results of a test using `examples/saprc2006.kpp` with KPP 3.0.0:
[code]

[2022-11-09 15:28] yantosca commented on #63
Results of a test using examples/saprc2006.kpp with KPP 2.2.3 (our starting version):
[code]

[2022-11-09 15:31] yantosca commented on #63
The concentrations at the end of the KPP 2.2.3 and KPP 3.0.0 test simulations are 100% identical:
[code]

[2022-11-09 15:41] yantosca commented on #63
Running into a little snag: I can't find the KPP 2.1 code, the links are broken at: https://people.cs.vt.edu/asandu/Software/Kpp/.

@RolfSander, would you happen to have a KPP 2.1 version on your end?

[2022-11-09 15:54] yantosca commented on #63
I would assume that KPP 2.2.3 would produce the same values as KPP 2.1.  KPP 2.2.3 only contained "a number of small fixes throughout" as listed here: https://people.cs.vt.edu/asandu/Software/Kpp/

[2022-11-09 16:07] RolfSander commented on #63
I sent you the code via email.

[2022-11-09 19:34] yantosca commented on #63
Thanks @RolfSander, I got the code.

One thing, the KPP 2.1 rosenbrock integrator seems different than the one in KPP 2.2.3.  The 2.1 rosenbrock still has all the BLAS/LAPACK calls (WCOPY, WAXPY, etc) whereas the 2.2.3 one does not.  I could try to use the 2.2.3 integrator in 2.1 and see if we get the same results.

[2022-11-09 19:36] yantosca commented on #63
Also the KPP 2.1 version has:
[code]
which I've replaced with:
[code]
to match the other versions.

[2022-11-09 19:52] yantosca commented on #63
I was not able to get the same results with KPP 2.1 as KPP 2.2.3:
[code]
even though I made sure that the `saprcnov.eqn`, 'saprcnov.def`, and `saprcnov.spc` files used by KPP 2.1 were the same as KPP 2.2.3.

Long story short, there seems to have been some signfiicant modifications between KPP 2.1 and KPP 2.2.3 that are difficult to back out.

[2022-11-09 20:04] msl3v commented on #63
This is interesting. The differences are not small. Have you done a code
diff? Do you need help doing this?

On 11/9/22 14:52, Bob Yantosca wrote:

[2022-11-09 20:18] jimmielin commented on #63
Hi @msl3v, I've attached the diff for all the files but it's very significant between 2.1 and 2.2.3. @yantosca and I are comparing the generated code to see what's causing the differences. If you could help out it would be great as well!

Hello @RolfSander, it looks like we are seeing some significant differences between 2.1 and 2.2.3 output. Perhaps there were a lot of changes between these two v

[2022-11-09 20:21] jimmielin commented on #63
There seems to be a significant divergence starting at ` 10.4%. T=0.180E+05 `.

[2022-11-09 20:46] yantosca commented on #63
Was wondering if this is due to Update_Sun.  In the KPP 2.1 code there might be a PI missing:
[code]
whereas in the KPP 2.2.3 code the PI is defined:
[code]

[2022-11-09 20:50] yantosca commented on #63
Adding the PI doesn't change the end value:
[code]

[2022-11-10 05:03] jimmielin commented on #63
It appears that the culprit is in the KPP-2.1 version of `Rates.F90`. The issue is this line:
[code]
which is generated correctly in KPP-2.2 and above, but is generated as
[code]

The `2.59e-54` also is underflowing the real type. I'm not sure why it does not generate in KPP-2.1 correctly. @yantosca, I assume you used the same input files (.eqn?) for saprcnov in KPP-2.1 and KPP-2.2.3? Maybe it is

[2022-11-10 05:18] cshsgy opened #64 "Segmentation fault in generating the stoichiom file"
Hi, I was trying out the examples of KPP. However, an error comes up when I came to the compiling stage:
[code]

I used the files in the example folder, and they all fail at the same place. Is there a way to trace where the problem happens or does anyone have any ideas on how I can fix this?

[2022-11-10 09:59] RolfSander commented on #63
The diff between KPP-2.1 and KPP-2.2.3 is big! Maybe we should simply
point out in the paper that our project started with 2.2.3 and still
produces the same results.

We could warn users who still use 2.1 that they will see some
differences caused by changed made until 2.2.3.

[2022-11-10 15:13] yantosca commented on #63
I've rebuilt the test mechansim making sure that the rxn rates in KPP v2.1 and v2.2.3 are identical:

If we diff the saprc2006_Rates.f90 files in v2.1 and 2.2.3 we no loner get any differences in RCONST:
[code]
and the results are now identical to the v2.2.3 and v3.0.0 runs:
[code]
The concentrations at the last timestep are now:
[code]
NOTE: KPP 2.1 has an extra column of output that was removed

[2022-11-10 15:19] yantosca commented on #64
Re: stack memory on MacOSX, we have this documentation: https://kpp.readthedocs.io/en/stable/getting_started/01_installation.html#request-maximum-stack-memory

[2022-11-10 15:27] RolfSander commented on #63
Thanks for spotting this! I checked the origin for this number. It seems
to come from Tab. 2f in doi 10.1029/97JD00849. Thus, "-54" is the
correct exponent.

[2022-11-10 15:34] jimmielin commented on #63
Thanks @yantosca and @RolfSander! Looks like we are good to go as it was an input issue, so KPP 3.0.0 with same inputs does have identical results all the way back to KPP 2.1. Great success!

[2022-11-10 15:37] msl3v commented on #63
Superb debugging.

On 11/10/22 10:35, Haipeng Lin wrote:

[2022-11-10 16:00] jimmielin commented on #50
Thanks @RolfSander for the reminder, I have updated the new DOI in the revised manuscript.

[2022-11-10 18:23] msl3v commented on #43
Idea: variable stoichiometric coeffs

[2022-11-10 18:31] yantosca commented on #63
I'll close out this issue now as it is resolved.

[2022-11-10 18:31] #63 closed

[2022-11-10 18:32] yantosca commented on #50
I'll close out this issue as the 3.0.0 code is now released and the new DOI will be used going forward.  Thanks all!

[2022-11-10 18:32] #50 closed

[2022-11-10 18:36] yantosca commented on #62
@LiHui94:  We have just released KPP 3.0.0.  We recommend that you update to this versio.n.

Our kpp.readthedocs.io manual has information about [how to specify the path to flex for KPP](https://kpp.readthedocs.io/en/3.0.0/getting_started/01_installation.html#flex)

[2022-11-10 18:37] yantosca commented on #58
Closing out this issue due to inactivity

[2022-11-10 18:37] #58 closed

[2022-11-10 21:26] yantosca opened #65 "[FEATURE REQUEST] Update warning messages for "too many continuation lines""
A GEOS-Chem user recently reported )see https://github.com/geoschem/geos-chem/issues/1496) that building a mechanism resulted some spurious warnings about having too many continuation lines, such as:
[code]
I believe this is because back when KPP was originally being developed, Fortran compilers (probably using the F90 or F95 standard) only would let you have about 40 continuation lines in a state

[2022-11-10 21:46] RolfSander commented on #65
This must have been a warning from the FORTRAN 77 code. For Fortran 90, we already have
MAX_NO_OF_LINES = 250. See code_f77.c and code_f90.c.

[2022-11-11 05:35] Cobaltito27 commented on #64
Hi. I am using the latest KPP on a Windows Linux Subsystem (Ubuntu) and I also encountered the exact problem as well. I managed to set the stack limit to unlimit and recompiled the source code of KPP. But the problem persists.

When I check the `small_strato.log` file and generated `.f90` files, it seems that they are interrupted. For example, below are line 71 to the rear of the file `small_strat

[2022-11-11 19:55] cshsgy commented on #64
Hi @yantosca thanks for your reply! Yes I am using KPP in a UNIX-based system, but a x86-64 Ubuntu system. I tried your suggestion of changing the OMP stack size but also tried to set the ulimit, neither of them work and the error persists.
What is strange to me is that, the log file shows nothing (an empty file created), which makes it quite hard to trace down the error.
Thanks again for your kin

[2022-11-14 15:13] #65 closed

[2022-11-18 21:44] msl3v opened #66 "[BUG/ISSUE] Prod/loss species are contributing to the Error Norm when they should be ignored"
We realized today that when putting Prod/Loss terms for families into the mechanism, KPP uses the errors of these terms in the error norm calculation. In one example, the CH4 loss term, LCH4, has a high relative error, suggesting that it imparts a significant impact on KPP's behavior (step acceptance/rejection, internal step size). The prod/loss terms should be entirely passive. They should not be

[2022-11-18 23:24] yantosca commented on #66
Hi @msl3v @RolfSander @JimmieLin: Am wondering if the best thing is to pass a vector of logicals where the prod/loss species would be false and everything else true.   We could initialize that outside of the loop over grid boxes.

[code]

[2022-11-18 23:27] msl3v commented on #66
I think we'd need to preprocess an index of actual species. Note at the end of the ros_ErrorNorm() function, that Err is divided by N

[2022-11-18 23:42] yantosca commented on #66
Thanks @msl3v.  I think the number of prod/loss species are given by NFam, right?  Then it would be divided by N-Nfam

[2022-11-19 02:51] msl3v commented on #66
@yantosca I think you're correct! Alright. This should be an easy fix. Where should it go? Dev? Or would it be better to create a new branch and create a PR?

[2022-11-19 09:26] RolfSander commented on #66
I think a new branch would be best. Then you have time to test it
independently while other things may happen in the dev branch.

Maybe you can use a Fortran90 mask and a WHERE block for this. I haven't
tested it, but maybe it could look like this:

[code]

Here, the mask `notfam` is the vector of logicals where the prod/loss
species would be false.

[2022-11-19 17:29] msl3v commented on #66
So, whether it's a logical vector or integer vector, it makes sense to pre-process it into the code rather than have KPP build it each call. My inclination is to pre-process a separate vector of species index values and have the function loop over that. It will avoid unnecessary branching. There would be no need for an IF() statement. While I'm not really sure that this would be more efficient, Er

[2022-11-22 22:53] msl3v commented on #66
Created a new branch, FamilyIndexTesting. As usual, bad with naming things.
Made a commit, 7d9c53787ea33f228d5e7f81a20aaa8995af63a9
What's completed is the generation of the vector of non-prod/loss species index values, its declaration and inclusion in *_Parameters.F90

Please have a look @yantosca @RolfSander @jimmielin
- is the code OK? Anything glaring, in bad form, or whatnot
- is it reasonabl

[2022-11-28 12:10] RolfSander commented on #66
I'm not very familiar^ with the family code, so I restrict myself to a
philosophical comment.

I'm a big fan of piling lots of new features onto KPP, as long as they
are not switched on by default.

Often, it is fine to add a few `IF (newfeature) THEN` blocks to the
code. If there are too many `IF` blocks that slow down the code, it may
be necessary to deactivate the new features via CPP preproces